.custom-noty .iziToast-texts {
    max-width: 322px;
}

.custom-noty .iziToast-message,
.custom-noty .iziToast-title {
    font-family: inherit !important;
    font-size: 16px !important;
    line-height: 150% !important;
    letter-spacing: 0.03em !important;
    color: #fff !important;
}

.custom-noty .iziToast-message {
    font-weight: 400 !important;
}

.custom-noty .iziToast-title {
    font-weight: 700 !important;
}

.iziToast > .iziToast-close {
    background: url(../img/close.svg) no-repeat 50% 50% !important;
}

.custom-noty.error {
    background-color: #ef4040 !important;
}